@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temporary base look so we can see Tailwind working */
html,
body {
  height: 100%;
}

body {
  background-color: #020617; /* slate-950 */
  color: #e5e7eb;            /* slate-200 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}
